# Default ignored files
/shelf/
/workspace.xml
/halo_infinite_stats.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/*/__pycache__/